.lds-dual-ring.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 100%;
    height: 100vh;
    background: black;
    border-radius: 20%;
    padding: 5px;
    z-index: 999;
    opacity: 1;
    transition: all 0.5s;
}

/*Spinner Styles*/
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 5% auto;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

* {
    box-sizing: border-box;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    text-align: left;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

#search-area {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #E5E6ED;
    z-index: 1;
}

#search {
    width: 70%;
    position: relative;
    float: left;
}

/* #search-input{
    padding: 12px 20px 12px 40px;
    width: 500px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px grey;
} */
#search-input {
    padding: 15px 30px 15px 30px;
    width: 700px;
    margin: 15px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 1px grey;
}

span.deleteicon {
    position: relative;
    display: inline-flex;
    align-items: center;
}

/* span.deleteicon span {
    position: absolute;
    display: block;
    right: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    background-color: #ccc;
    font: 13px monospace;
    text-align: center;
    line-height: 1em;
    cursor: pointer;
} */
span.deleteicon span {
    position: absolute;
    display: block;
    right: 50px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    background-color: #ccc;
    font: 13px monospace;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
}

span.deleteicon input {
    padding-right: 18px;
    box-sizing: border-box;
}

svg {
    position: absolute;
    top: 39%;
    left: 1%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

#select-menu {
    width: 20%;
    display: inline-block;
    margin-left: 5%;
    position: fixed;
    border: 2px solid rgb(57, 165, 165);
    border-radius: 10px;
}

#select-type {
    background-color: rgb(57, 165, 165);
    padding: 5px 10px 2px 10px;
    border-radius: 5px;
    color: white;
    width: 100%;
}

.form-check {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 2.2em;
    margin-bottom: 0.125rem;
}

.form-check:not(:last-child) {
    border-bottom: 1px solid rgb(57, 165, 165);
}

#result-block {
    width: 35%;
    position: relative;
    left: 30%;
    margin-top: 12%;
    display: inline-block;
    border: 2px solid #eeeeee;
    padding: 10px;
    margin-bottom: 100px;
}

.label-link {
    color: rgb(57, 165, 165);
}

a .label-link:hover {
    cursor: pointer;
}

.for-ad {
    width: 20%;
    display: inline-block;
    margin-left: 100px;
    left: 0%;
    top: 30%;
    position: fixed;
}

.ad-text {
    display: inline;
}

header {
    padding: 5px 20px 15px 15px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom right, rgb(68, 186, 254), rgb(57, 165, 165));
    padding: 20px 20px 20px 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    position: fixed;
}

button {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}

button:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
}

button:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.block>p {
    border-bottom: 2px solid rgb(57, 165, 165);
}

/* Add css */
.other-function{
    display: inline-block;
    width: 20%;
    left: 68%;
    top: 30%;
    position: fixed;
}
.explore-btn{
    margin-top: 10px;
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: rgb(68, 186, 254);
}
header{
    width: 100%;
    position: fixed;
    z-index: 1;
}
#search-area{
    position: fixed;
    top: 10%;
}